/*------- GENERAL -------*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap");

:root {
  --green: #638a5c;
  --orange: #e67700;
  --yellow: #ece480;
  --light-yellow: #fff9db;
  --black: #000000;
  --dark-grey: #232323;
  --warm-grey: #565656;
  --warm-light-grey: #6f6f6f;
  --light-grey: #c3c3c3;
  --very-light-grey: #fafafa;
  --copyright-grey: #a5a5a5;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
}

/*------- HEADER -------*/

.header {
  padding: 0.5em 0;
}

/* logo - burger menu - nav */

.logo-burger-container {
  display: flex;
  justify-content: space-between;
  margin: 1em 0.8em;
}

.logo {
  max-width: 45%;
}

/* mobile nav */

.menu-icon {
  height: 25px;
  width: 25px;
}

/* mobile expand nav */

.mobile-nav-container {
  background-color: var(--light-yellow);
  padding: 2em 0;
  position: relative;
}

.mobile-nav-container li {
  margin: 1em 0;
  list-style: none;
  border: 2px solid transparent;
  padding: 0.3em;
  transition: 0.7s ease;
}

.mobile-nav-container li:hover {
  border: 2px solid var(--orange);
}

.close-icon {
  color: var(--black);
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.4em 0.4em 0 0;
}

.close-icon:hover {
  background-color: var(--orange);
  border-radius: 12px;
  color: var(--white);
}

.mobile-nav-items-container {
  display: flex;
  justify-content: space-around;
}

.nav-item a {
  color: var(--black);
  text-decoration: none;
}

/* desktop nav */

.expand-nav-container {
  display: none;
  margin-right: 1em;
}

.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 600;
}

.home-nav,
.explore-nav {
  margin-right: 0.3em;
  cursor: pointer;
}

.home-nav a,
.explore-nav a {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 var(--green);
  color: var(--black);
  padding: 0.7em 0.7em;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.home-nav a:hover,
.explore-nav a:hover {
  box-shadow: inset 100px 0 0 0 var(--green);
  color: white;
  border-radius: 4px;
}

.sign-up-nav,
.login-nav {
  padding: 0.6em 1.4em;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.sign-up-nav {
  background-color: var(--green);
  margin-right: 0.5em;
  color: var(--white);
  border: 2px solid var(--green);
}

.sign-up-link {
  text-decoration: none;
  color: var(--white);
}

.sign-up-nav:hover {
  background-color: var(--orange);
  border: 2px solid var(--orange);
}

.login-nav {
  background-color: var(--white);
  border: 2px solid var(--black);
}

.login-nav-link {
  text-decoration: none;
  color: var(--black);
}

.login-nav:hover {
  background-color: var(--orange);
  border: 2px solid var(--orange);
}

.login-nav-link:hover {
  color: var(--white);
}

/*------- MAIN -------*/

/* HERO SECTION */

.hero-container {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.29) 0%,
      rgba(0, 0, 0, 0.29) 100%
    ),
    url("../images/hero-img.png"), var(--light-grey) 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  /* cropping the image: */
  background-position: center center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.hero-text-container {
  color: var(--white);
  padding: 1.5em 2em 0 1.5em;
}

.hero-title {
  color: var(--white);
  font-size: 2.8rem;
  font-weight: 400;
}

.hero-subtitle {
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4;
  text-shadow: 0px 0px 4px var(--dark-grey);
}

/* search */

.search-container {
  border: 2px solid var(--white);
  border-radius: 6px;
  background: var(--white);
  display: flex;
  align-items: center;
  margin: 0 1.5em;
  display: flex;
  justify-content: space-between;
}

.magnifier-icon {
  margin: 0 0.5em;
  height: 1.5em;
  width: 1.5em;
}

.search-field {
  /* make the search button stay within the search field: */
  width: 100%;
  border: none;
  cursor: pointer;
  flex-grow: 1;
}

.search-field::placeholder {
  color: rgba(195, 195, 195, 0.8);
}

.search-btn {
  border-radius: 0 6px 6px 0;
  color: var(--white);
  background: var(--green);
  padding: 0.3em 0.6em;
  text-decoration: none;
  text-transform: uppercase;
}

.search-btn:hover {
  opacity: 0.8;
}

/* HIKE SECTION */

.hike-section {
  margin: 0 1em;
}

.hike-main-title {
  font-size: 1.2rem;
  color: var(--warm-grey);
  margin-left: 1em;
}

.tablet-hike-main-title {
  display: none;
}

.hike-example {
  margin: 0.5em 0;
}

.hike-img {
  width: 100%;
  object-fit: cover;
}

.hike-text-container {
  display: flex;
  flex-direction: column;
  margin: 0.3em;
}

.hike-title {
  font-size: 1.1rem;
  margin: 0;
  padding: 0.4em 0;
}

.hike-subhead {
  margin: 0;
  padding: 0 0 0.5em 0;
}

.star-icon {
  width: 1em;
  height: 1em;
  margin-right: 0.2em;
}

.hike-description {
  color: var(--warm-light-grey);
  line-height: 1.4;
  margin: 0;
  padding-bottom: 1.3em;
}

/* CTA SECTION */

.cta-section {
  background-color: var(--very-light-grey);
  text-align: center;
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-article {
  padding: 2em 0em;
  margin: 0 2em;
}

.cta-img {
  height: 2em;
  width: 2em;
  margin-bottom: 1em;
}

.cta-title {
  margin-bottom: 1em;
  font-size: 1rem;
}

.cta-description {
  max-width: 380px;
}

/*------- FOOTER -------*/

.footer-section {
  background: var(--black);
  text-align: center;
}

.footer-container {
  padding: 2em 0;
}

.footer-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.footer-nav-ul {
  display: flex;
  gap: 1.5em;
  list-style-type: none;
  margin-bottom: 0.1em;
}

.footer-nav-li {
  text-transform: uppercase;
  color: var(--white);
  font-size: 0.7rem;
}

.footer-logo {
  max-width: 10em;
}

.footer-copyright {
  color: var(--copyright-grey);
  font-size: 0.7rem;
  margin-top: 0;
}

.google-map-container {
  display: none;
}

/*------- HELPER CLASSES -------*/

.accent {
  display: block;
  color: var(--yellow);
  font-weight: bold;
  flex-wrap: wrap;
}

.margin-bottom {
  margin-bottom: 2.4em;
}

.hidden {
  display: none;
}
