@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

/* HERO */

.hero-section {
  position: relative;
}

.hero-img {
  width: 100%;
  margin: 0;
}

.hero-title {
  color: #fff;
  position: absolute;
  left: 24px;
  top: 24px;
}

/* HELPER CLASSES */

.accent {
  color: #ece480;
}
